<template>
  <div id='weather-wrapper' v-if="currentWeather.main" v-bind:style="{ 'background-image': 'url(' + backgroundImage + ')' }">
    <div id="top">
      <h2>{{ location.city }}, {{ location.country }}</h2>
      <dl id="current">
        <dt class="description">Description</dt><dd class="main"><img :src="`/static/icons/${currentWeather.iconId}.png`" :alt="currentWeather.description"/></dd>
        <dt class="description">Temperature</dt><dd class="temperature">{{ currentWeather.temperature | round }} &deg;C</dd>
        <dt class="description">Pressure</dt><dd class="pressure">{{ currentWeather.pressure }} hPa</dd>
      </dl>

    <form id="location" v-on:submit.prevent="search">
      <fieldset>
        <input v-model="query" v-bind:placeholder="'Not in ' + location.city+'?'">
        <button>Search</button>
      </fieldset>
    </form>
    </div>
    <div id="forecast">
      <table>
        <tbody>
          <tr v-for="item in forecast" :key="item.date">
            <td>{{ item.date | formatDate }}</td>
            <td><img :src="`/static/icons/${item.iconId}.png`" :alt="item.description"/></td>
            <td>{{ item.temperature | round}}&deg;C</td>
            <td>{{ item.pressure | round }} hPa</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="hello" v-else>
    <h2>Please wait</h2>
  </div>
</template>

<script>

var locationClient = require('../js/location.js').default
var weatherClient = require('../js/weather.js').default
var imagesClient = require('../js/images.js').default

function getWeather (vue) {
  vue.currentWeather = {}
  vue.forecast = {}

  weatherClient.getCurrentWeather(vue.location)
    .then(currentWeather => {
      vue.currentWeather = currentWeather

      imagesClient.getBackgroundImage(vue.currentWeather, vue.location)
        .then(backgroundImage => {
          vue.backgroundImage = backgroundImage
        })
    })

  weatherClient.getForecast(vue.location).then(forecast => { vue.forecast = forecast })
}

export default {
  name: 'Weather',
  data () {
    return {
      query: '',
      backgroundImage: '',
      location: {},
      currentWeather: {},
      forecast: []
    }
  },
  methods: {
    search: function (event) {
      locationClient.search(this.query)
        .then(response => {
          this.location = response
          this.query = ''
          this.backgroundImage = ''

          getWeather(this)
        })
    }
  },
  mounted () {
    locationClient.getLocation()
      .then(response => {
        this.location = response

        getWeather(this)
      })
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  padding-top: 20px;
  font-weight: normal;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

#weather-wrapper {
  height: 100vh;
  display: grid;
  background-size: cover;
}

#forecast {
  grid-row: 2/3;
  width: 100%;
  overflow: auto;
  bottom: 0;
  padding-top: 20px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 50%, rgba(0,0,0,0.5) 100%);
}

#forecast table {
  width: 360px;
  font-size: 0.7em;
  margin: auto;
}

#forecast table img {
  height: 32px;
}

#top {
  grid-row: 1/2;
  background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%);
}

fieldset {
  border: 0;
}

#location input {
  width: 200px;
}

#location button {
  width: 80px;
  background: rgba(0,0,0,0.5);
  color: #ccc;
}

#location input, #location button {
  padding: 5px;
  font-size: 80%;
  border: 1px #999 solid;
}

dt.description {
  display: none;
}

dd.main {
  height: 138px;
  vertical-align: middle;
}

dd.pressure, dd.temperature {
  display: inline-block;
  height: 32px;
  font-size: 120%;
}

</style>
