<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #efefef;
  max-width: 720px;
  margin: auto;
  margin-top: 0;
}

body {
  margin: 0;
  background: #33333a;
  font-size: 150%;
}
</style>
